# Później nie wysyłać wszystkich plików które się budują ( main.go , /src) na gita
# Tylko zostawić je w obrazie Dockerfile
##############
#src
#main.go
#init.sh
##############
main

.env
/tmp
notatki.txt
